.featured {
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 10px;
  width: 100%;
  max-width: 1024px;
  z-index: 1;
  // position: absolute;

  .featuredItem {
    position: relative;
    object-fit: cover;
    height: 250px;
    cursor: pointer;

    .featuredImage {
      width: 100%;
      border-radius: 10px;
    }
    .featuredTitle {
      position: absolute;
      bottom: -70px;
      left: 20px;
      color: #fff;
    }
  }
}
